<%= form_with(model: @blog, local: true ,url: choose_new_or_edit) do |form| %>
  <% if @blog.errors.any? %>
    <div id = "error_explanation">
      <h2><%= @blog.errors.count %>件のエラーがあります。</h2>
      <ul>
        <% @blog.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <div class="blog_title">
    <%= form.label :投稿 %>
    <%= form.text_area :content, placeholder:"今なにしてる？", class:"form-control", rows: 5 %>
  </div>
  <div class="field">
    <%= form.label :画像 %><br>
    <div class="main_picture">
      <%= image_tag(@blog.image, :width => "400px", class:"mb-5") if @blog.image %>
    </div>
    <%= form.file_field :image, class:"form-control" %>
    <%= form.hidden_field :image_cache, class:"form-control" %>
  </div>
  <%= form.submit "シェア", class:"btn btn-lg btn-success my-3" %>
<% end %>

<%= link_to "ブログ一覧画面に戻る", blogs_path, class:"btn btn-lg btn-light mb-5" %>