<h3>以下の内容で、送信する。</h3>

<%= form_with(model: @blog, url: blogs_path, local: true, multipart: true) do |form| %>
  <%= form.hidden_field :content %>
  <%= form.hidden_field :image_cache %>
  <p><%= simple_format(@blog.content) %></p><br>
  <div class="main_picture">
    <p><%= image_tag(@blog.image) %></P>
  </div>
  <div class="col-5">
    <%= form.submit  "投稿する", class:"btn btn-ml btn-success" %>
  </div>
<% end %>

<%= form_with(model: @blog, url: new_blog_path, local: true, method: 'get') do |form| %>
  <%= form.hidden_field :content %>
  <%= form.hidden_field :image_cache %>
  <div class="col-5">
    <%= form.submit "もどる", name: 'back', class:"btn btn-ml btn-info mb-5" %>
  </div>
<% end %>