<h1>ブログ一覧</h1>
<p><%= notice %></p>

<table>
  <tr>
    <th>ユーザー名</th>
    <th>内容</th>
    <th>画像</th>
  </tr>
</table>

<% @blogs.each do |blog| %>
  <tr>
    <td><%= blog.user.name %></td>
    <td><%= blog.content %></td>
     <td><%= blog.image.url %></td>
     <td><%= link_to '詳細を確認する', blog_path(blog.id) %></td>
     <% if user_signed_in? && blog.user_id == current_user.id %>
       <td><%= link_to 'ブログ投稿', new_blog_path, class:"btn btn-ml btn-success" %></td>
       <td><%= link_to "ブログ編集", edit_blog_path(blog.id), class:"btn btn-ml btn-info" %></td>
       <td><%= link_to "ブログ削除", blog_path(blog.id), method: :delete, data: {confirm: "本当に削除してもいいですか？"}, class:"btn btn-ml btn-danger" %></td>
     <% end %>  
  </tr>
<% end %>
</table>
