<h1>ブログ一覧</h1>
<% if user_signed_in? %>
  <%= link_to 'ブログ投稿', new_blog_path, class:"btn btn-ml btn-success" %>
<% end %>

<table class="table-light mt-3 mb-4 p-4">
  <% @blogs.each do |blog| %>
    <tr>
      <td class="name"><%= link_to blog.user.name, blog_path(blog.id) %></td>
    <tr>
      <td><%= blog.created_at.strftime('%Y年%m月%d日 %H時%M分%S秒') %></td>
       <% if user_signed_in? && blog.user_id == current_user.id %>
         <td><%= link_to "ブログ編集", edit_blog_path(blog.id), class:"btn btn-ml btn-info" %></td>
         <td><%= link_to "ブログ削除", blog_path(blog.id), method: :delete, data: {confirm: "本当に削除してもいいですか？"}, class:"btn btn-ml btn-danger" %></td>
       <% end %>
    <tr>
      <td class="content"><%= blog.content %></td>
    </tr>
    <tr>
      <td class="picture">
        <%=link_to image_tag(blog.image_url,:size => "400x400"), blog_path(blog.id) %>
      </td>
    </tr>
  <% end %>
</table>
