<%= form_with(model: Blog.new) do |form| %>
 
  <div class="blog_title">
    <%= form.label :content %>
    <%= form.text_field :content %>
  </div>
   <div class="field">
    <%= form.label :image %>
    <%= form.file_field :image %>
  </div>
  <%= form.submit %>
<% end %>