<h1>新規アカウントを作成</h1>
<h3>無料でご利用いただけます。</h3>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="row">
    <div class="col-md-5 col-md-offset-3">
      <div class="field">
        <%= f.label :name, class: "control-label" %><br />
        <%= f.text_field :name, autofocus: true, class: "form-control" %>
      </div>
    
      <div class="field">
        <%= f.label :email, class: "control-label" %><br />
        <%= f.email_field :email, autofocus: true, class: "form-control" %>
      </div>
    
      <div class="field">
        <%= f.label :password, class: "control-label" %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
      </div>
    </div>
  </div>
      
  <div class="row">
    <div class="col-md-3 col-md-offset-3">
      <div class="actions">
        <%= f.submit "アカウント登録", class: "btn btn-lg btn-success" %>
      </div>
    </div>
  </div>
<% end %>
