<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarColor01">
    <a class="navbar-brand logo"  href="/">F</a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <li class="nav-link active"><%= link_to "ホーム", root_path %></li>
      </li>
      <li class="nav-item active">
        <% if user_signed_in? %>
        <li class="nav-item active">
          ユーザー名 <strong><%= current_user.name %></strong>.
        </li>
        <li class="nav-item active">
          <%= link_to "ブログ投稿", new_blog_path %>
        </li>
        <li class="nav-item active">
          <%= link_to "登録情報修正", edit_user_registration_path %>
        </li>
        <li class="nav-item active">
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete %><br>
        </li>
        <% else %>
        <li class="nav-item active">
          <%= link_to "新規登録", new_user_registration_path %>
        </li>
        <li class="nav-item active">
           <%= link_to "ログイン", new_user_session_path %>
        </li>
      <% end %>
      </li>
    </ul>
  </div>
  </div>
</nav>